Django==1.7
Pillow==2.8.2
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
cffi==1.1.2
cryptography==0.9.1
dill==0.2.4.dev0
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
dropbox==2.2.0
enum34==1.0.4
gunicorn==19.3.0
idna==2.0
ipaddress==1.0.7
kombu==3.0.26
multiprocess==0.70.3
ndg-httpsclient==0.4.0
pathos==0.2a1.dev0
pox==0.2.1
ppft==1.6.4.5
psycopg2==2.6.1
pyOpenSSL==0.15.1
pyasn1==0.1.8
pycparser==2.14
pymongo==3.0.3
pytz==2015.4
requests==2.7.0
six==1.9.0
static3==0.6.1
urllib3==1.10.4
wsgiref==0.1.2
