h1, h2, h3, h4, h5, h6, p, span {
	margin-top: 0px;
	font-family: 'Source Code Pro', serif;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
	
.top {
	height: 800px;
	width: 100%;
	position: relative;
}

.top h1 {
	top: 0;
	width: 100%;
	color: white;
	margin-top: 120px;
	text-align: center;
	position: absolute; 
	text-align: center;
	font-family: 'Source Code Pro', serif;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.85);
}

#particles h1 {
  text-transform: uppercase;
  font-size: 85px;
  font-weight: 700;
  letter-spacing: 0.015em;
  font-family: 'Source Code Pro', serif;
}

#particles span {
	font-family: 'Source Code Pro', serif !important;
}

@media only screen and (max-width: 480px) {
	#particles h1 {
		font-size: 60px;
	}
}

@media only screen and (max-width: 768px) {
	#particles h1 {
		font-size: 60px;
	}
}

.terminal-hover-text {
	top: 725px;
	color: white;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}

.middle h1 {
	margin-top: 20px;
	text-align: center;
	font-size: 5em;
	font-family: 'Source Code Pro', serif;
}

.middle h2 {
	font-size: 1em;
	text-align: center;
	font-family: 'Source Code Pro', serif;
}

.bio {
	margin: 0 auto;
	width: 50%;
}

@media (max-width: 800px) {
	.bio {
		width: 100%;
	}
}

.bio p {
	font-size: 1em;
	font-family: 'Source Code Pro', serif;
}

/*.image-holder {
	height: 275px;
	width: 275px;
	display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
*/

.image-holder {
	margin: 0 auto;
	width: 250px;
    height: 250px;
}

.image-holder img {
	border-style: solid;
	border-width: 2px;
    border-color: black;
    box-shadow: 20px 20px 20px #585753;
}

.img-responsive {
	/*height: 250px;*/
}

.back {
	background-color: black;
	text-align: center;
}

.back span {
	color: white;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	font-size: 1em;
	font-family: 'Source Code Pro', serif;
}

.back a {
	color: white;
}

.transparent-button {
	background: none;
}

.transparent-button:focus {
	background-color: none;
}

.col-md-4 {
	margin-top: 25px;
}

.projects {
	padding-bottom: 40px;
}

.projects h1 {
	color: white;
	font-size: 5em;
	font-family: 'Source Code Pro', serif;
	text-align: center;
}

.footer {
	padding-bottom: 10px;
  	background-color: #f5f5f5;
}

.footer p {
	text-align: center;
}

.footer a {
	text-align: center;
}

.footer img {
	margin-left: 7px;
	width: 25px;
}

.red-heart {
	font-size: 120%;
	color: red;
}

.code {
	height: 700px;
	width: auto;
	color: white;
	padding-bottom: 50px;
	padding-top: 50px;
}

.code h1 {
	text-align: center;
	font-size: 5em;
}

.code h2 {
	text-align: center;
	font-size: 1em;
}

.work-experience {
	color: white;
	font-family: 'Source Code Pro', serif;
}

@media only screen and (min-width: 768px) {
	.work-experience-entry {
		width: 800px;
		margin: 0 auto;
	}
}

.work-experience h1 {
	color: white;
	font-size: 5em;
	text-align: center;
}

.work-experience a {
	color: white;
}

.work-experience h2 {
	color: white;
	text-align: center;
	font-size: 1.5em;
}

.work-experience-image {
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.social-icons {
	text-align: center;
	margin-bottom: 5px;
}

.resume iframe {
	margin: 0 auto;
}

/******* ABOUT PAGE *********/
.about {
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 66.64%; /* (img-height / img-width * width) */ /* (853 / 1280 * 100) */
}