
{% load static %}

	<div class="footer">
      <div class="container">
		</div><!-- navigation -->
		<div class="social-icons">
			<div class="row">
				<div class="col-md-4">
					<p class="text-muted">
						<a href="/">Home</a>
						<span> |  </span>
						<a href="/about">About Me</a>
						<span> |  </span>
						<a href="http://github.com/g12mcgov/grantmcgovern.com-V2" id="about-this-site">This Site</a>
						<span> | </span>
						<a href="http://stackoverflow.com/users/2704533/carbon-ghost">S/O</a>
						<span> | </span>
						<img src="{% static "img/signature.png" %}">
					</p>
				</div>
				<div class="col-md-4">
					<!-- Inserts a red heart icon in the footer -->
					<p class="text-muted">Made with <span class="red-heart">&hearts;</span> by Grant McGovern</p>
				</div>
				<div class="col-md-4">
					<a href="https://github.com/g12mcgov">
						<img src="{% static "img/icons/github.png" %}">
					</a>
					<a href="http://www.linkedin.com/in/grantmcgovern/">
						<img src="{% static "img/icons/linkedin.png" %}">
					</a>
					<a href="https://www.facebook.com/grantmcgovern">
						<img src="{% static "img/icons/facebook.png" %}">
					</a>
					<a href="http://instagram.com/g12mcgov">
						<img src="{% static "img/icons/instagram.png" %}">
					</a>
					<a href="https://soundcloud.com/grant-mcgovern">
						<img src="{% static "img/icons/soundcloud.png" %}">
					</a>
					<a href="https://www.dropbox.com/sh/qsk8lm38p92v5uo/AADwWcytdzozbAxFcf7foNCia?dl=0">
						<img src="{% static "img/icons/dropbox.png" %}">
					</a>
					<a href="http://grantmcgovern.wordpress.com/">
						<img src="{% static "img/icons/wordpress.png" %}">
					</a>
					<a href="mailto:grantmcgov@gmail.com">
						<img src="{% static "img/icons/mail.png" %}">
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-65669317-1', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
</html>
