<!DOCTYPE html>

{% load static %}
{% include "header.html" %}
	
	<div class="wrap">
		<div class="top" id="top-frame">
			<div id="particles">
				<h1 class="name typist"></h1>
				<div id="terminal"></div>
			</div>
		</div>
		<div class="middle">
			<h1 id="middle-intro-text"></h1>
			<h2>Daily hacker, builder of <a href="http://github.com/g12mcgov"><b>things</b></a>.</h2>
			<br>
			<div class="bio">
				<div class="panel panel-default">
	  				<div class="panel-body">
						<p style="text-align: center;"><b>{ I am obsessed with how things work. }</b><p>
						<hr>

						<p>I'm currently a senior at <a href="http://www.wfu.edu/">Wake Forest University</a> pursuing a B.S. in <a href="http://college.wfu.edu/cs/">Computer Science</a> with a minor in <a href="https://entrepreneurship.wfu.edu/">Entrepreneurship</a>.
							<br><br>

							I enjoy spicy foods (I once ate the world's <a href="http://www.amazon.com/Daves-Gourmet-Insanity-Hot-Sauce/dp/B0000DG4MO/ref=sr_1_10?ie=UTF8&qid=1436078585&sr=8-10&keywords=world%27s+hottest+hot+sauce">hottest sauce</a>), my favorite season is Winter, and I have an affinity for anything with <a href="http://www.saabcentral.com/forums/garage.php?do=viewvehicle&vehicle_id=1340">wheels</a>. I'm from Washington, D.C., but I've lived in both London and New York. However, my favorite city is Stockholm, Sweden.
							<br><br>

							I've had the privilege of being taught by great mentors along my path of becoming a software engineer. I have met incredible people through <a href="https://www.linkedin.com/in/grantmcgovern">internships</a>, and learned <a href="https://en.wikipedia.org/wiki/Natural_language_processing">amazing things</a>.
							<br><br>

							My first love is Python, but at school I tend to write strictly C++ and Java. I often find myself writing HTML, CSS, and JavaScript, but I prefer a backend approach. I've worked with Scala, Erlang, and Prolog, though not in depth. I have written RESTful API's in Node.js, Python, and Java and I've worked on high traffic web applications in both PHP and Rails, though I still consider myself a Ruby novice.
							<br><br>

							I am an OS X evangelist and really anything Unix of the sort. Unsuprisingly, <a href="https://github.com/Homebrew/homebrew">this</a> is my favorite open source project.
							<br><br>

							I believe in utterly simply designs and sheer minimalism. When I'm not bossing computers around, you can find me reposting new house-music on <a href="https://soundcloud.com/grant-mcgovern">SoundCloud</a>, building <a href="https://www.dropbox.com/sh/74mqtulsy2l2x92/AAAoDQKHnqC0R7MAA21vTKw9a?dl=0">things</a> out of wood, or <a href="http://whereisgrant.herokuapp.com/">here</a>.
							<br><br>

							In my spare time, I hack code for <a href="http://1834wfu.com/">1834 Software</a>, Wake Forest University's student run software development firm.
						</p>
	  				</div>
				</div>
			</div>
		</div>
		<div class="projects" style='background-image: url({% static 'img/backgrounds/peachdots.png' %});'>
			<h1><b>Builder.</b></h1>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div id="weatherfetch" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/WeatherFetch.png' %}">
								<!-- <div class="image-holder" style='background-image: url("{% static 'img/WeatherFetch.png' %}");'></div> -->
							</div>
							<div class="back">
								<span><a class="transparent-button btn btn-default" href="http://weatherfetch.com/">WeatherFetch.com</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id="win" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/WIN.png' %}">
							</div>
							<div class="back">
								<span><a class="transparent-button btn btn-default" href="https://github.com/g12mcgov/WIN">WIN</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id="gympeak" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/GymPeak.png' %}">
							</div>
							<div class="back">
								<span style="top: 5%;">
								<a class="transparent-button btn btn-default" href="http://gympeak.com/">GymPeak</a>
								</span>
								<br>
								<br>
								<span style="font-size: 0.75em; top: 0%; text-align: left;">
								Built the entire backend and sensor system for the GymPeak iOS application, an app where users can see real time occupancy of the Wake Forest, UNC, and Davidson College gyms.
								<span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div id="barbeque" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/barbeque.png' %}">
							</div>
							<div class="back">
								<span><a class="transparent-button btn btn-default" href="https://github.com/g12mcgov/Barbeque">Check it out on Github</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id="macon-command-center" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/MaconCommandCenter.png' %}">
							</div>
							<div class="back">
								<span><a class="transparent-button btn btn-default" href="http://macon.pw">Check it out here</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id="groupme-cli" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/GroupMeCli.png' %}">
							</div>
							<div class="back">
								<span><a class="transparent-button btn btn-default" href="https://github.com/g12mcgov/GroupMeCli">Check it out on Github</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div id="where-is-grant" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/WhereIsGrant.png' %}">
							</div>
							<div class="back">
								<span><a class="transparent-button btn btn-default" href="http://whereisgrant.herokuapp.com/">Check it out here</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id="campus-connect" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/CampusConnect.png' %}">
							</div>
							<div class="back">
								<span><a class="transparent-button btn btn-default" href="http://thecampusconnect.herokuapp.com/">Check it out here</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id="studybug" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/StudyBug.png' %}">
							</div>
							<div class="back">
								<span><a class="transparent-button btn btn-default" href="http://www.wfustudybug.com/studybug/">Check it out here</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div id="soundbar" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/SoundBar.png' %}">
							</div>
							<div class="back">
								<span>SoundBar</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id="terminal-js" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/Terminal.gif' %}">
							</div>
							<div class="back">
								<span>Terminal.js</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id="grantmcgovern" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/grantmcgovern.png' %}">
							</div>
							<div class="back">
								<span>GrantMcGovern.com</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div id="devcharts" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/DevCharts.png' %}">
							</div>
							<div class="back">
								<span>DevCharts</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id="pong" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/Pong.png' %}">
							</div>
							<div class="back">
								<span>Pong</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id="soundbar" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/SoundBar.png' %}">
							</div>
							<div class="back">
								<span>SoundBar</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div id="roots" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/Roots.png' %}">
							</div>
							<div class="back">
								<span>Exploring the Fast Fourier Transformation</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id="gitcards" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/GitCards.png' %}">
							</div>
							<div class="back">
								<span>GitCards.js</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div id="soundbar" class="image-holder">
							<div class="front">
								<img class="img-responsive" src="{% static 'img/SoundBar.png' %}">
							</div>
							<div class="back">
								<span>SoundBar</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="code" style='background-image: url({% static 'img/footer_lodyas.png' %});'>
			<h1>Coder.</h1>
			<div id="chart" style="height: 500px; width: auto;"></div>
			<!-- Generate Highcharts -->
			<script type="text/javascript">
				var devcharts = {{content|safe}};
				var chart_data = [];

			    for(var i = 0; i < devcharts.languages.length; i++) { 
			        var temp = new Array(
			        	devcharts.languages[i], 
			        	devcharts.counts[i]
			        	);
			        chart_data[i] = temp;     
			    }
			    
			    $('#chart').highcharts({
			        chart: {
			            plotBackgroundColor: null,
			            plotShadow: false,
			            backgroundColor:'rgba(255, 255, 255, 0)',
			        },
			        style: {
	            		fontFamily: 'Source Code Pro'
	        		},
			        title: {
			            text: ''
			        },
			        tooltip: {
			            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			        },
			        plotOptions: {
			            pie: {
			                allowPointSelect: true,
			                cursor: 'pointer',
			                dataLabels: {
			                    enabled: true,
			                    format: '<b>{point.name}</b>: {point.percentage:.2f} %',
			                    style: {
			                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'white'
			                    }
			                }
			            }
			        },
			        series: [{
			            type: 'pie',
			            name: 'Code Breakdown',
			            data: chart_data,
			        }]
			    });
			</script>
			<h2>(Based on <b>live</b> information pulled from my Dropbox)</h2>
		</div>
		<div class="work-experience" style='background-image: url({% static 'img/backgrounds/bluedots.png' %});'>
			<h1>Worker.</h1>
			<div class="container-fluid">
				{% for experience in work_experiences %}
					<div class="work-experience-entry">
						<div class="panel panel-default" style="background: none;">
							<div class="panel-heading" style="background: none;">
								<div class="panel-title">
									<div class="row">
										<div class="col-md-5 vcenter">
											<h2>{{ experience.position }}</h2>
										</div>
										<div class="col-md-2 vcenter">
											<h2 class="at">@</h2>
										</div>
										<div class="col-md-5 vcenter">
											<div class="work-experience-image" style="background-image: url('media/{{ experience.image }}');">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<ul class="summary-entries">
									{% for line in experience.summary_to_list %}
										<li>{{ line | safe }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="resume" style='background-image: url({% static 'img/backgrounds/night.png' %});'>
			<h1>Résumé</h1>
			<div class="container-fluid">
				<div class="wrapper">
					<iframe id="resume-google-docs" src="https://docs.google.com/viewer?srcid=0B75zolcE_FfFUU4tTW93QUk5Nk0&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="100%" scrolling="no" style="overflow: hidden; height: 600px;"></iframe>
					<script type="text/javascript">
						iFrameResize({log: true});
					</script>
				</div>
			</div>
			<h2>You can also download a fresh copy <a href="https://docs.google.com/viewer?srcid=0B75zolcE_FfFUU4tTW93QUk5Nk0">Here</a></h2>
		</div>


{% include "footer.html" %}